* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(120deg, #4f46e5, #06b6d4);
    min-height: 100vh;
    color: white;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 80px;
    background: rgba(0,0,0,0.25);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    font-size: 34px;
    font-weight: 800;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    background: #22c55e;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

a {
    color: #fde68a;
    text-decoration: none;
}

.dashboard {
    padding: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.card {
    flex: 1;
    background: rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
